---
const platform = "github";
const username = "withastro";
import Social from './Social.astro';

---

<footer >
  <p>This is footer</p>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <div class="my-4 flex flex-row"></div>
  <Social platform = "twitter" username = "userAstro"/>
  <Social platform = "github" username = "userAstro"/>
  <Social platform = "youtube" username = "userAstro"/>
</div>
</footer>