--- 
---
<div class="hamburger pr-5 cursor-pointer md:hidden">
    <span class="line block w-10 h-1 mb-2 bg-[#ff9776]"></span>
    <span class="line block w-10 h-1 mb-2 bg-[#ff9776]"></span>
    <span class="line block w-10 h-1 mb-2 bg-[#ff9776]"></span>

  </div>