---
import Navigation from "../components/Navigation.astro";
import Hamburger from "./Hamburger.astro";
import { Icon } from 'astro-icon'
---
<header>
<nav class=" flex gap-4 text-xl text-pink-600 w-full top-16">
    <Hamburger/>
    <Icon id="themeToggle" class="w-7 text-blue-300" name="carbon:sun" />
    <Navigation/>
</nav>
</header>